@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

@section Top{
    <div class="page-banner-denied-section section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-banner-denied-content">
                        <h1>Access Denied!</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<p class="text-danger">You do not have access to this resource.</p>
