@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Xác Nhận";
}

@section Top{
    <div class="page-banner-section section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-banner-content">
                        <h1>Khôi Phục Mật Khẩu</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<blockquote>
    <p>"Email khôi phục mật khẩu đã được gửi"</p>
    <p>"Đường dẫn khôi phục mật khẩu đã được gửi vào email của bạn. Kiểm tra email của bạn để hoàn tất đặt lại mật khẩu."</p>
</blockquote>


