@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

@section Top{
    <div class="page-banner-section section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-banner-content">
                        <h1>Khôi Phục Mật Khẩu</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Input.Token" type="hidden" />
    <div class="row">
        <div class="col-xs-12 mb-20">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="col-xs-12 mb-20">
            <label asp-for="Input.Password">Mật Khẩu Mới</label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="col-xs-12 mb-20">
            <label asp-for="Input.ConfirmPassword">Xác Nhận Mật Khẩu</label>
            <input asp-for="Input.ConfirmPassword" class="form-control" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="col-xs-12">
            <input value="Đặt Lại" name="Đặt Lại" class="inline" type="submit" />
        </div>
    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
