@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmation";
}
@section Top{
    <div class="page-banner-section section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-banner-content">
                        <h1>Hoàn Thành Đặt Lại Mật Khẩu</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<blockquote>
    <p>"Mật khẩu của bạn đã được đặt lại"</p>
    <p>"Quá trình khôi phục mật khẩu đã hoàn tất. Vui lòng đăng nhập để trải nghiệm mua sắm."</p>
</blockquote>
<div class="text-center">
    <a class="btn" asp-area="Identity" asp-page="/Account/Login">Quay Lại Trang Đăng Nhập</a>
</div>
