@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="row">
    <div class="col-md-12">
        <p>Tài khoản của bạn chứa dữ liệu cá nhân mà bạn đã cung cấp cho chúng tôi. Trang này cho phép bạn tải xuống hoặc xóa dữ liệu đó.</p>
        <p>
            <strong>Xóa dữ liệu này sẽ xóa vĩnh viễn tài khoản của bạn và điều này không thể được phục hồi.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn" type="submit">Tải Xuống</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn">Xoá</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}