@model SekiroKenjii.Models.ViewModel.OrderDetailsViewModel
@{
    ViewData["Title"] = "Confirm";
    Layout = "~/Views/Shared/_CartLayout.cshtml";
}

<br />
<br />
<div class="checkout-form">
    <div class="col-lg-12 mb-20">
        <div class="row">
            <div class="col-xs-9 mb-10">
                <h2 class="text" style="font-weight:bold">Đặt Hàng Thành Công</h2>
            </div>
            <div class="col-xs-3 mb-10">
                <a asp-controller="Home" asp-action="Shop" class="btn btn-group-justified">Tiếp Tục Mua Sắm</a>
            </div>
        </div>

    </div>

    @if (Model.Orders != null)
    {
        <div class="col-lg-12 mb-30">
            <div style="color:maroon" class="p-3">
                Đơn đặt hàng của bạn đã thành công! Bạn sẽ nhận được cuộc gọi của chúng tôi sớm.
                <br />
                Vui lòng kiểm tra tóm tắt đơn hàng dưới đây và vui lòng liên hệ với chúng tôi nếu bạn có bất kỳ thắc mắc nào.
            </div>
        </div>
        <partial name="_IndividualOrderDetails" model="Model" />

    }
    else
    {
        <div class="text-danger">
            Error... Please try again later.
        </div>
    }
</div>
